#!/bin/bash

NS=$1
APP=$2
VERSION=$3

cat << EOF
// Generated
package app

// Namespace is the app namespace.
const Namespace string = "$NS"

// App is the app name.
const App = "$APP"

// Version is the app version.
const Version = "$VERSION"
EOF
